[color]
	log = no
	diff = no
	grep = no
	status = auto
	branch = auto

[core]
	editor = vim
	pager = vim -

[alias]
	pick = cherry-pick -x --signoff

[merge]
	tool = meld

[push]
	default = matching

[pager]
	branch = false

[include]
	path = ~/.gitprivate
