[color]
    diff = no
    status = auto
    branch = auto

[core]
    editor = vim
    pager = vim -

[user]
    name = Devaev Maxim
    email = mdevaev@gmail.com

[merge]
    tool = meld

[pkg "lucid"]
    schroot = ubuntu-lucid-amd64
    type = deb
    arch = amd64

[pkg "arch"]
    type = arch

