[Desktop Entry]
Name=uniq2
X-KDE-PluginInfo-Author=Maksim Devaev
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=mdevaev@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=uniq2
X-KDE-PluginInfo-Version=1.0
